body {
  background: rgb(0 0 0);
}

.dice {
  width: 150px;
  height: 150px;
  background: white;
  display: flex;
  text-align: center;
  font-size: 124px;
  font-weight: 600;
  justify-content: center;
}
